body{
  background-color: #101011;
}

canvas {
  /*border: 1px solid black;*/
  display: block;
  height: 400px;
  width: 400px;
  margin: auto;
}

div {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.hero-row {
  height: 100px;
  /* Zvýšení výšky řádku */
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
  background-color: #161616;
}

.hero-row:nth-child(odd) {
  background-color: #181616;
}

.hero-row img {
  border-radius: 10px;
}

#goldBar {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  /* Černé průhledné pozadí */
  border: 3px solid burlywood;
  /* Světle hnědý okraj */
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
}

.hero-button {
  background-color: rgb(17, 128, 128);
  color: white;
  border: 3px solid gold;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  width: 150px;
}
.achievement{
  position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white; 
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid gold;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#achievementsContainer {
  position: absolute;
  right: 10px;
  top: 100px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid gold;
  font-size: 16px;
}

#achievementList {
  list-style-type: none;
  padding: 0;
}

#achievementList li {
  padding: 15px;
  border-bottom: 1px solid gold;
}